/* Color scheme: http://design-seeds.com/index.php/home/entry/global-brights4 */
body {
  color: white;
}

.row {
  margin-bottom: 10px;
}

.row > div {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 5em;
}

.row > div h2 {
  margin-top: 0;
}

.titlecard {
  background-color: #3a5bb0;
}

.ism1 {
  background-color: #334537;
}

.ism2 {
  background-color: #ba3d5f;
}

.ism3 {
  background-color: #e86f54;
}

.ism1.grey {
  background-color: #ccc;  
}

.ism2.grey {
  background-color: #ddd;  
}

.ism3.grey {
  background-color: #eee;  
}

.badge {
  color: #3a5bb0;
  background-color: white;
  font-size: 20px;
  padding: 5px 8px;
}