{% extends "base.html" %}

{% block content %}

  <h2>Project and rationale</h2>

  <p>
    I (Andromeda) was delighted to see, when I got to the Harvard LibraryCloud hackathon
    (1 December 2014), that there were some half-dozen other women in the room. Yay!
  </p>

  <p>
    Then the organizer asked who was there for the tutorial and almost every other
    woman in the room raised her hand. Sigh.
  </p>

  <p>
    My intersectional feminism looks like code, so here's an app to explore popular items
    in the Harvard library collection. It takes a search term, looks for library materials with that subject, and returns the 10 most popular items (as measured by <a href="http://chronicle.com/blogs/conversation/2014/10/07/a-good-dumb-way-to-learn-from-libraries/">stackscore</a>).
  </p>

  <p>
    Alongside the titles, it displays whether those materials also have Library of Congress
    subject headers that correspond to women's studies, African-American studies, or LGBT studies.
  </p>

  <h3>Why this matters</h3>

  <p>
    When students and scholars are constructing their mental models of how things work, 
    do they read books that reflect intersectional perspectives? Are those perspectives
    treated as popular, as central, as canon? And do we encounter different intersectional
    perspectives within the same work? Or do we only encounter feminist perspectives
    in women's studies, critical race perspectives in African-American studies, et cetera?
  </p>

  <p>
    When and whether we encounter these perspectives informs our instincts as to whether
    they matter. When and whether scholars at one of the preeminent universities on earth
    encounter these perspectives informs <i>all</i> our intuitions.
  </p>

  <p>
    When you search for an idea, what's there? What's missing?
  </p>

  <h2>Key</h2>

  <p>
    The code searches the LibraryCloud API for a topic with your querystring
    (or a querystring randomly chosen from a list when you first load the page).
    It displays the most popular items in the Harvard collection matching that search,
    and highlights the ones whose subject headers also include common headers for women's
    studies, African-American studies, or LGBT content.
  </p>

  <h2>Credits</h2>

  <h3>People</h3>

  <ul>
    <li>Code: Andromeda Yelton</li>
    <li>Cataloging: Vernica Downey</li>
  </ul>

  <h3>Tech</h3>

  <ul>
    <li>Color scheme from <a href="http://design-seeds.com/index.php/home/entry/global-brights4">design seeds</a></li>
    <li>CSS from <a href="http://getbootstrap.com/">Bootstrap</a></li>
    <li>Dead simple Django project running start from <a href="https://github.com/pydanny/cookiecutter-django">cookiecutter-django</a></li>
    <li>...subsequently largely overwritten by dead simple Django project running start for Heroku deployment at <a href="https://github.com/heroku/heroku-django-template">heroku-django-template</a></li>
    <li>Chad Nelson's <a href="https://github.com/bibliotechy/DPyLA">DPyLA library for searching DPLA</a> formed the core of the internal LibraryCloud search API.</li>
    <li>Hack on the project itself at its <a href="https://github.com/thatandromeda/librarycloud">github repo</a>.</li>
  </ul>

{% endblock %}